global !p
def camel(word):
	if not word: return ''
	return word[0].upper() + word[1:]
endglobal

snippet /get(ter)?/ "getter" br
/**
 * Getter for $1
 * @return $1
 */
public ${2:String} `!p snip.rv = "get" + camel(t[1])`() {
	return this.$1;
}
endsnippet

snippet /set(ter)?/ "setter" br
/**
 * Setter for $1
 * @param $1 $1
 */
public void `!p snip.rv = "set" + camel(t[1])`(${2:String} $1) {
	this.$1 = $1;
}
endsnippet
